body{
    margin: 0;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px; /* Fixed width */
    padding: 20px; /* Optional padding for the form */
    border: 1px solid #ccc; /* Optional border */

  }

.input-group{
    display: flex;
    align-items: 'center';
}

.login-label{
    font-size: 20px;
    width: 100px;
    margin: 0;
    white-space:nowrap;
}

.login-input{
    flex: 1;
    margin: 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7px; 
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.login-button{
    width: 100px;
    border-radius: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.registration-container{
    padding: 1rem;
}

.registration-link{
    color: lightblue;
    text-decoration: none;
    display:flex;
    justify-content: center;
}

.login-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}
