
.settings-container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black !important;
    padding-top: 200px;
}

.settings-form {
    display:flex;
    flex-direction: column;
    width: 370px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
}

.settings-label {
    display:flex;
    justify-content: left;
    font-size: 20px;
    width: 100px;
    margin: 0;
    white-space: nowrap;
}

.settings-input {
    flex: 1;
    margin: 0;
    padding: 8px;
    border: 1px solid white;
    border-radius: 7px;
    width: 330px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.change-button{
    width: 100px;
    border-radius: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.settings-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
}