.group-creation-container{
    background-color: #0d1538;
}

.group-game-selector{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
}

.group-rank-selector{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
}

.group-mode-selector{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
}

.group-players-selector{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
}

.group-title-selector{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
}

.group-done-button{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #084B17;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #084B17;
}