body{
    margin: 0;
}

.group-creation-page{
    display: flex;
    flex-direction: column;
    background-color: #0e141a;
    align-items: center;
}

.group-creation-container{
    opacity: 80%;
    display: flex;
    flex-direction: column;
    background-color: #1C2833;
    align-items: center;
    border: 3px solid #b8b8b8;
    border-radius: 10px;
}

.group-creator-text{
    opacity: 80%;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
    font-size: 30px;
    font-weight: bold;
    height:50px;
}
.group-game-selector{
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
    font-size: 30px;
    font-weight: bold;
}

.group-rank-selector{
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
    font-size: 30px;
    font-weight: bold;
}

.group-mode-selector{
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
    font-size: 30px;
    font-weight: bold;
}

.group-players-selector{
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
    font-size: 30px;
    font-weight: bold;
}

.group-title-selector{
    opacity: 80%;
    margin: 10px;
    border: 1px solid #797D7F;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #797D7F;
    font-size: 30px;
    font-weight: bold;
}

.group-done-button{
    opacity: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #084B17;
    border-radius: 8px;
    color:#FFFFFF;
    background-color: #084B17;
    font-size: 30px;
    font-weight: bold;
}
