#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  background-color: #021824; /* Optional background color */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px; /* Fixed width */
  padding: 20px; /* Optional padding for the form */
  border: 1px solid #ccc; /* Optional border */
  border-radius: 8px; /* Optional rounded corners */
}

.input-group {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.label {
  width: 100px; /* Fixed width for labels */
  margin: 0; /* Remove margin */
}

.input {
  flex: 1; /* Take remaining space */
  margin: 0; /* Remove margin */
  padding: 8px; /* Padding inside the input field */
  border: 1px solid #e70000; /* Border for the input */
  border-radius: 4px; /* Optional rounded corners */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
