/* font import */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Fredoka';
}


.test{
  background-color:red;
  margin-bottom: 10px;
}

.messages{
  float: left;
  margin-right: 80px;
  text-align: center;
}

.line{
  border-left: 5px solid white;
  height: 100vh;
  float:left;
  margin-right: 15px;
}

.link{
  color: white;
  text-decoration: none;
}

/* for hover effect */
.gallery {
  /* makes a 3x3 grid */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  
  /* centers the items horizontally */
  justify-items: center; 
  /* centers the items vertically */
  align-items: center;
}

/* For medium screens (less than 900px wide), collapse to a 2x2 grid */
@media (max-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/* For small screens (less than 600px wide), collapse to a 1-column layout */
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: 1fr;
    float: none;

  }
  .line{
    display: none;
  }
  .messages{
    display: none;
    margin-right: 0;
    float:none; 
    text-align: center;
  }
}
  
.image-container {
  position: relative;
  width: 384px;
  height: 216px;
}

.image {
  width: 384px;
  height: 216px;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}
