.gallery {
    /* 3-column grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    justify-items: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 384px;
    height: 216px;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
    overflow: hidden; /* Ensures rounded corners apply to overlay as well */
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* Overlay styling */
.overlay {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.overlay-text {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

/* For medium screens (less than 1000px wide), switch to a 2-column grid */
@media (max-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}

/* For small screens (less than 600px wide), use a single-column grid */
@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .image-container {
        width: 100%;
    }
    .image {
        width: 100%;
    }
}
