.messages{
    float: left;
    margin-right: 10px;
}

.actual-messages{
    background-color:grey;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 200px;
    height:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}

.actual-messages:hover{
    background-color: #4d4d4d;
}
  
.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    object-fit: cover;
}

.message-text{
    color: white;
    float: right;
    width: 160px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}